body {
    width: 75%;
    background: lightgrey;
    margin: 0;
    font-family: sans-serif;
}

header {
    position: relative;
    padding: 20px 0;
    text-align: center;
    border-bottom: solid 2px #fff;
    border-right: solid 2px #fff;
    background-color: #363636;
    color: white;
    text-transform: uppercase;
    font-size: 35px;
}

p {
    padding: 10px;
    font-size: 16px;
}

#mainPara {
    display: flex;
    justify-content: space-around;
    width: 100%;
    color: #000;
    margin: 0 auto;
    margin-right: 25%;
}

#mainPara>p {
    width: 30%;
    text-align: justify;
    vertical-align: top;
    line-height: 1.8em;
}

aside {
    position: fixed;
    top: 0;
    right: 0;
    width: 25%;
    height: 100%;
    background-image: url(https://static1.squarespace.com/static/54fb41dee4b04333132ebd68/t/5997894a17bffc656af6fb1a/1505314384570/profile_pic.jpg?format=1500w);
    background-size: cover;
    background-position: top center;
    border-left: solid 2px #fff;
}

ul {
    display: inline-block;
    vertical-align: top;
    margin: 0 auto;
    padding: 20px;
    width: 145px;
    height: 100px;
    background-color: lightblue;
    text-align: center;
}

ul li {
    list-style-type: none;
}